<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <h1>Tu Cesta</h1>
        
        <form action="/basket" method="post">
            {{#purchaseBooks}}
            <ul>
                <li>
                    <a href="/book/{{id}}">
                        <img src="/book/{{id}}/image" alt="{{title}}" width="">
                        {{title}}
                        <hr>
                        {{price}}$
                    </a>
                </li>
            </ul>
            {{/purchaseBooks}}  
            {{#totalPrice}}
            <input type="submit" value="Comprar {{totalPrice}} $"/>
            {{/totalPrice}}
        </form>
        

        {{^purchaseBooks}}
        <p>Aun no has añadido ningún libro a la cesta</p>
        {{/purchaseBooks}}
        <br>
        <a href="/">Volver</a>
    </body>
</html>