<html>
    <head></head>
    <body>
        <h1>Tu Cesta</h1>
        
        <form action="/basket" method="post">
            {{#purchaseBooks}}
            <ul>
                <li>{{title}} {{price}}</li>
            </ul>
            {{/purchaseBooks}}
            <input type="submit" value="Comprar {{totalPrice}}"/>
        </form>
        

        {{^purchaseBooks}}
        <p>Aun no has añadido ningún libro a la cesta</p>
        {{/purchaseBooks}}
        <br>
        <a href="/profile">Volver</a>
    </body>
</html>