<html>
<head></head>
<body>

    <h1>{{book.title}}</h1>
    <img src="/book/{{book.ISBN}}/image" alt="{{book.title}}" width = "100">
    <h3>Autor: {{book.author}}</h3>
    <p>{{book.synopsis}}</p>
    <h4>Precio: {{book.price}}$</h4>
    
    <hr>

    <form action="/addToBasket" method="post">
        <input type="hidden" name="ISBN" value="{{book.ISBN}}">
        <input type="submit" value="Añadir a la cesta">
    </form>

    <hr>

    <form action="/newReview" method="get">
        <input type="submit" value="Añadir Reseña"/>
    </form>
    

    <hr>

    <form action="/editBook" method="get">
        <input type="hidden" name="ISBN" value="{{book.ISBN}}">
        <input type="submit" value="Editar">
    </form>
    

    <form action="/deleteBook" method="post">
        <input type="hidden" name="ISBN" value="{{book.ISBN}}">
        <input type="submit" value="Eliminar">
    </form>
    

    <h2>Reseñas</h2>
    <ul>
        {{#reviews}}
            <li>
                {{reviewUser.userName}}: {{content}}
            </li>
        {{/reviews}}

        {{^reviews}}
        <p>Aún no hay reseñas para este libro.</p>
        {{/reviews}}
    </ul>

</body>
</html>
