<html>
<head>
    <title>Inicio - Librería</title>
</head>
<body>
    <h1>Bienvenido a la Librería</h1>

    <a href="/profile">Ir al perfil</a> 
    <a href="/basket">Ver cesta</a>
    <a href="/login">Iniciar Sesión</a> 
    <a href="/createAccount">Registrarse</a>

    <hr>

    <form action="/buscar" method="get">
        <input type="text" name="content" placeholder="Buscar por título o autor">
        <input type="submit" value="Buscar">
    </form>

    <hr>

    <h2>Libros disponibles</h2>
    <ul>
        {{#books}}
        <li>
            <a href="/book/{{ISBN}}">
                <img src="/book/{{ISBN}}/image" alt="{{title}}" width="">
                {{title}} - {{price}}$
            </a>
        </li>
        {{/books}}

        {{^books}}
        <p>No hay libros disponibles en este momento.</p>
        {{/books}}
    </ul>

    <a href="/newBook">Añadir nuevo libro</a>


</body>
</html>
