<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <h1>Mis Reviews</h1>
    <ul>
        {{#reviews}}
            <li>
                <p class="username">{{reviewUser.userName}}</p>
                <p class="comment">{{content}}</p>
                <form action="/deleteReview/{{id}}" method="post">
                    <input type="submit" value="Eliminar"/>
                </form>
            </li>
        {{/reviews}}

        {{^reviews}}
        <li>Aun no tienes reseñas</li>
        {{/reviews}}
    </ul>
    <a href="/profile">Volver</a>
    </body>

</html>