<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <a href="/">
      <button class="home-button">
        <i class="fa-solid fa-home"></i>
      </button>
    </a>
    <h1>Perfil</h1>
    <!--<img src="/img/{{userName}}.jpg" alt="{{userName}}">-->
    <h2>UserName: {{userName}}</h2>
    <p><a href="/myPurchases">Mis pedidos</a></p>
    <p><a href="/myReviews">Mis reseñas</a></p>
    <form
    id="deleteForm" 
    action="/profile" 
    method="post" onsubmit="return confirmDelete();">
    >
      <input type="hidden" name="_csrf" value="{{token}}"/>
      <input type="hidden" name="_method" value="DELETE" />
      <button type="submit" class="deleteAccount">Eliminar cuenta</button>
    </form>

  </form>
  <form action="/editProfile" method="get">
      <input type="submit" value="Editar Perfil" />
      <input type="hidden" name="_csrf" value="{{token}}"/>
  </form>

    <form action="/logout" method="post">
      <input type="hidden" name="_csrf" value="{{token}}"/>
      <input type="submit" value="Sign Out" />
    </form>

    <script>
      function confirmDelete() {
        return confirm('¿Estás seguro de que deseas eliminar tu cuenta?');
      }
    </script>
  </body>
</html>
